@page "/counter"
@using Robotics_File_Storage.Data.StorageTypes
@using System.IO
@using BlazorDownloadFile;

<PageTitle>Upload File</PageTitle>

<h1>Upload Files</h1>

<p>Upload files here</p>

<InputFile OnChange = "@UploadFile" >Upload File</InputFile>

<button @onclick="setStorageTypeToDefault">
    Storage Type: Default Storage
</button>

<button @onclick="setStorageTypeToDrive">
    Storage Type: Google Drive
</button>

<button @onclick="getFiles">
    List Files
</button>

@if (loadFiles)
{
    @foreach(string file in list)
        {
            Console.WriteLine(file);
            <button @onclick="@(e => DownloadFile(file.Replace(path, "")))">
                @file.Replace(path, "");
            </button>

        }
}

CYRUS PUT YOUR STUFF HERE PLS

@code {
    //initizliate variables and run methods on click

    DefaultStorage storage = new DefaultStorage();

    string path = Path.Combine("C:/temp", "FileStore/");

    bool loadFiles = false;

    List<String> list;

    //------------------------------------------------------------------------------------------------------

    int storageType = 0; //0 is default storage, and 1 is google drive

    [Inject] IBlazorDownloadFileService BlazorDownloadFileService { get; set; }

    protected override async Task OnInitializedAsync() => list = storage.getFiles(path);

    async void UploadFile(InputFileChangeEventArgs e)
    {

        if(storageType == 0)
        {
            DefaultStorage storage = new DefaultStorage();

            storage.loadFile(e.File, path);

        }else if(storageType == 1)
        {

            //drive stuff goes here


        }

    }

    private void getFiles()
    {

        if(storageType == 0)
        {
            DefaultStorage storage = new DefaultStorage();

            list = storage.getFiles(path);

            loadFiles = true; 
        }

    }

    async Task DownloadFile(string fileName)
    {

        if(storageType == 0)
        {
            DefaultStorage storage = new DefaultStorage();

            var fileStream = storage.getFile(path, fileName);

            await BlazorDownloadFileService.DownloadFile(fileName, fileStream, "application/octet-stream");

        }else if(storageType == 1)
        {

            //drive stuff goes here

        }

    }

    private void setStorageTypeToDefault()
    {
        storageType = 0;
    }

    private void setStorageTypeToDrive()
    {
        storageType = 1;
    }

}
