.container[b-0d0c643zlu] {
    background-color: #EBEBEB;
    width: 18vw;
    height: 15vw;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;

    cursor: pointer;
}

img[b-0d0c643zlu] {
    width: 60%;
    margin-bottom: 4%;
    border-radius: 10px;
}

.title[b-0d0c643zlu] {
    display: flex;
    align-items: center;
    justify-content: center;


    font-size: 1.25vw;
    line-height: 100%;
    height: 20%;
    text-align: center;
    width: 100%;
    background-color: #C8C8C8;
    color: white;
    border-radius: 10px;
    margin-bottom: 4%;
}