/* _content/Robotics File Storage/Pages/Counter.razor.rz.scp.css */
.container[b-4kxa0nnkay] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2vw;
}
/* _content/Robotics File Storage/Shared/FileObject.razor.rz.scp.css */
.container[b-0d0c643zlu] {
    background-color: #EBEBEB;
    width: 18vw;
    height: 15vw;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;

    cursor: pointer;
}

img[b-0d0c643zlu] {
    width: 60%;
    margin-bottom: 4%;
    border-radius: 10px;
}

.title[b-0d0c643zlu] {
    display: flex;
    align-items: center;
    justify-content: center;


    font-size: 1.25vw;
    line-height: 100%;
    height: 20%;
    text-align: center;
    width: 100%;
    background-color: #C8C8C8;
    color: white;
    border-radius: 10px;
    margin-bottom: 4%;
}
/* _content/Robotics File Storage/Shared/MainLayout.razor.rz.scp.css */
.page[b-nznz9btbps] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-nznz9btbps] {
    flex: 1;
}

.sidebar[b-nznz9btbps] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-nznz9btbps] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-nznz9btbps]  a, .top-row .btn-link[b-nznz9btbps] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-nznz9btbps] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-nznz9btbps] {
        display: none;
    }

    .top-row.auth[b-nznz9btbps] {
        justify-content: space-between;
    }

    .top-row a[b-nznz9btbps], .top-row .btn-link[b-nznz9btbps] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-nznz9btbps] {
        flex-direction: row;
    }

    .sidebar[b-nznz9btbps] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-nznz9btbps] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-nznz9btbps], article[b-nznz9btbps] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Robotics File Storage/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-a8ej31n34k] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-a8ej31n34k] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-a8ej31n34k] {
    font-size: 1.1rem;
}

.oi[b-a8ej31n34k] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-a8ej31n34k] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-a8ej31n34k] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-a8ej31n34k] {
        padding-bottom: 1rem;
    }

    .nav-item[b-a8ej31n34k]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-a8ej31n34k]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-a8ej31n34k]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-a8ej31n34k] {
        display: none;
    }

    .collapse[b-a8ej31n34k] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
